<main class="calculator-container">
  <h1>Calculadora de IV</h1>

  <section class="sliders">
    <app-segmented-slider
      label="Ataque"
      [(value)]="ataque"
    />

    <app-segmented-slider
      label="Defesa"
      [(value)]="defesa"
    />

    <app-segmented-slider
      label="PS"
      [(value)]="ps"
    />
  </section>

  <hr />

  <section class="result-section">
    <mat-form-field
      appearance="outline"
      class="result-input"
    >
      <mat-label>Resultado do IV</mat-label>

      <input
        matInput
        [value]="ivResultado() + '%'"
        readonly
      />
    </mat-form-field>

    <button
      mat-fab
      color="primary"
      [cdkCopyToClipboard]="ivResultado().toString()"
      aria-label="Copiar resultado"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
  </section>
</main>
